h4{
    color: chocolate; font-weight: 2000;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h2{
    background-color: rgb(240, 231, 207); font-family: 'Times New Roman', Times, serif;
}
li{
    color: brown; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
footer{
color: black; font-weight: bold ;
}